<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #rentForm="ngForm">
            <div class="form-group">
                <label for="dateStart">Date start</label>
                <input type="date" [(ngModel)]="rent.dateStart"
                       class="form-control"
                       id="dateStart"
                       name="dateStart"
                       placeholder="Date start"
                       required #dateStart="ngModel">

                <label for="dateEnd">Date end</label>
                <input type="date" [(ngModel)]="rent.dateEnd"
                       class="form-control"
                       id="dateEnd"
                       name="dateEnd"
                       placeholder="Date end"
                       required #dateEnd="ngModel">

                <label for="cost">Cost</label>
                <input type="text" [(ngModel)]="rent.cost"
                       class="form-control"
                       id="cost"
                       name="cost"
                       placeholder="Cost"
                       required #cost="ngModel">

                <label for="cost">Client</label>
                <input type="text" [(ngModel)]="rent.client.id"
                       class="form-control"
                       id="client"
                       name="client"
                       placeholder="Client"
                       required #client="ngModel">

                <label for="cost">Car</label>
                <input type="text" [(ngModel)]="rent.car.id"
                       class="form-control"
                       id="car"
                       name="car"
                       placeholder="Car"
                       required #car="ngModel">
            </div>
            <button type="submit" [disabled]="!rentForm.form.valid"
                    class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
