<div class="card my-5 card-list" id="clients">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Login status</th>
                <th scope="col">Edit</th>
                <th scope="col">Save</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr (ngSubmit)="saveClient(client)" *ngFor="let client of clients">
                <td>{{ client.id }}</td>
                <td><input [(ngModel)]="client.name" [disabled]="isEnabled" placeholder="{{ client.name }}"></td>
                <td><input [(ngModel)]="client.surname" [disabled]="isEnabled" placeholder="{{ client.surname }}"></td>
                <td><input [(ngModel)]="client.login" [disabled]="isEnabled" placeholder="{{ client.login }}"></td>
                <td><input [(ngModel)]="client.email" [disabled]="isEnabled" placeholder="{{ client.email }}"></td>
                <td><input [(ngModel)]="client.phone" [disabled]="isEnabled" placeholder="{{ client.phone }}"></td>
                <td><input [(ngModel)]="client.loginStatus" [disabled]="isEnabled" placeholder="{{ client.loginStatus }}"></td>
                <td>
                    <a type="submit" (click)="editClient()"><img [src]="'/assets/icons/icon-edit.svg'"></a>
                </td>
                <td>
                    <a type="submit" (click)="saveClient(client)"><img [src]="'/assets/icons/icon-save.svg'"></a>
                </td>
                <td>
                    <a type="submit" (click)="removeClient(client)"><img [src]="'/assets/icons/icon-trash.svg'"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>