<div class="card my-5 card-list" id="clients">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Login status</th>
                <th scope="col">Edit</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients">
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.login }}</td>
                <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
                <td>{{ client.phone }}</td>
                <td>{{ client.loginStatus }}</td>
                <td>
                    <a type="submit" ><img [src]="'/assets/icons/icon-edit.svg'"></a>
                </td>
                <td>
                    <a type="submit" (click)="removeClient(client)"><img [src]="'/assets/icons/icon-trash.svg'"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>