<div class="container-fluid">
  <div id="main" class="content">
    <div class="client">
      <ul class="text-left list-inline py-3">
        <li class="list-inline-item">
          <a routerLink="/clients" class="btn btn-info">Client list</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/createclient" class="btn btn-info">Create client</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
    <app-navbar></app-navbar>
    <app-project></app-project>
  </div>
</div>