@import "app.variable";

body {
  font-family: $font-family-base;

  h1 {
    font-family: $font-family-special;
  }
}

.client {
  text-align: -webkit-right;
  padding-left: 1rem;
  padding-right: 1rem;
}
