@import "app.variable";

body {
  font-family: $font-family-base;

  h1 {
    font-family: $font-family-special;
  }
}

.client {
  text-align: -webkit-right;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-primary {
  white-space: nowrap;
  font-size: .9rem;
  border-radius: 50px;
  padding: 8px 20px;
  letter-spacing: .15rem;
  font-family: 'Signika Negative', sans-serif;
  margin: 30px 5px;
  text-align: -webkit-center;
  display: inline-block;
  transition: all 0.3s ease-in 0s;
  text-decoration: none;
  cursor: pointer;
  color: $white;
  background: $orange;
  border: none;

  &:active {
    background-color: $orange;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  &:focus, &:hover {
    background-color: $orange;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  &:hover {
    transform: translateY(-1px);
  }
}
