<div class="card my-5" id="rents">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date start</th>
                <th scope="col">Date end</th>
                <th scope="col">Rent status</th>
                <th scope="col">Cost</th>
                <th scope="col">Is paid</th>
                <th scope="col">Client</th>
                <th scope="col">Car</th>
                <th scope="col">Edit</th>
                <th scope="col">Save</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr (ngSubmit)="saveRent(rent)" *ngFor="let rent of rents">
                <td>{{ rent.id }}</td>
                <td><input [(ngModel)]="rent.dateStart" [disabled]="isEnabled" placeholder="{{ rent.dateStart }}"></td>
                <td><input [(ngModel)]="rent.dateEnd" [disabled]="isEnabled" placeholder="{{ rent.dateEnd }}"></td>
                <td><input [(ngModel)]="rent.rentStatus" [disabled]="isEnabled" placeholder="{{ rent.rentStatus }}"></td>
                <td><input [(ngModel)]="rent.cost" [disabled]="isEnabled" placeholder="{{ rent.cost }}"></td>
                <td><input [(ngModel)]="rent.isPaid" [disabled]="isEnabled" placeholder="{{ rent.isPaid }}"></td>
                <td><input [(ngModel)]="rent.client.id" [disabled]="isEnabled" placeholder="{{ rent.client.id }}"></td>
                <td><input [(ngModel)]="rent.car.id" [disabled]="isEnabled" placeholder="{{ rent.car.id }}"></td>
                <td>
                    <a type="submit" (click)="editRent()"><img [src]="'/assets/icons/icon-edit.svg'"></a>
                </td>
                <td>
                    <a type="submit" (click)="saveRent(rent)"><img [src]="'/assets/icons/icon-save.svg'"></a>
                </td>
                <td>
                    <a type="submit" (click)="removeRent(rent)"><img [src]="'/assets/icons/icon-trash.svg'"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
