<app-header></app-header>
<app-search></app-search>
<!--<app-comments></app-comments>-->
<!--<div class="card-wrapper" *ngIf="router.url === '/'">-->
<!--  <ng-container *ngFor="let car of cars">-->
<!--    <app-product-->
<!--      [id]="car.id"-->
<!--      [model]="car.model"-->
<!--      [productionYear]="car.productionYear"-->
<!--      [gearBox]="car.gearBox"-->
<!--      [fuelType]="car.fuelType"-->
<!--      [engine]="car.engine"-->
<!--      [carPower]="car.carPower"-->
<!--      [carStatus]="car.carStatus"-->
<!--    >-->

<!--    </app-product>-->
<!--  </ng-container>-->
<!--</div>-->
