<header>
    <video class="video-desktop" playsinline autoplay muted loop preload="metadata" id="video-desktop">
        <source src="https://player.vimeo.com/external/455720252.sd.mp4?s=557e59e08bb27fd89994df98707978a60acb549c&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
    </video>
    <div class="video-content">
        <h1 class="video-title">
            PREMIUM CAR RENTAL
        </h1>
        <p class="video-subtitle-desktop">
            CHOOSE THE BEST CAR FOR YOUR TRIP
        </p>
    </div>
</header>