<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.pexels.com/photos/193021/pexels-photo-193021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Find Car">
    <div class="card-body">
        <h5 class="card-title"><strong>{{model}}</strong></h5>
        <ul>
            <li><strong>Production year:</strong> {{productionYear}} r</li>
            <li><strong>Gearbox:</strong> {{gearBox}}</li>
            <li><strong>Fuel:</strong> {{fuelType}}</li>
            <li><strong>Engine:</strong> {{engine}}</li>
            <li><strong>Power:</strong> {{carPower}}</li>
            <li><strong>Status:</strong> {{carStatus}}</li>
        </ul>
        <a href="#" class="btn btn-primary">BOOK</a>
    </div>
</div>