<section class="container">

    <div class="search" id="search">
        <h2>SEARCH</h2>
        <div class="bar row">
            <div class="col-md-3">
                <p>Brand</p>
                <select class="form-select" aria-label="audi">
                    <option selected>Mercedes</option>
                    <option value="audi">Audi</option>
                    <option value="bmw">BMW</option>
                    <option value="mercedes">Mercedes</option>
                </select>
            </div>
            <div class="col-md-3">
                <p>Gearbox</p>
                <select class="form-select" aria-label="automatic">
                    <option selected>Automatic</option>
                    <option value="manual">Manual</option>
                    <option value="automatic">Automatic</option>
                </select>
            </div>
            <div class="col-md-3">
                <p>Fuel</p>
                <select class="form-select" aria-label="petrol">
                    <option selected>Petrol</option>
                    <option value="diesel">Diesel</option>
                    <option value="hybrid">Hybrid</option>
                    <option value="electric">Electric</option>
                    <option value="petrol">Petrol</option>
                </select>
            </div>
            <div class="col-md-3">
                <p>Power</p>
                <select class="form-select" aria-label="power">
                    <option selected> +300 ps </option>
                    <option value="100"> +100 ps </option>
                    <option value="200"> +200 ps </option>
                    <option value="300"> +300 ps </option>
                </select>
            </div>
        </div>

        <div class="cards">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.pexels.com/photos/193021/pexels-photo-193021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Find Car">
                <div class="card-body">
                    <h5 class="card-title">Mercedes</h5>
                    <p class="card-text">Sports cabrio</p>
                    <a href="#" class="btn btn-primary">BOOK</a>
                </div>
            </div>

        </div>
    </div>

    <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
            <a routerLink="/users" class="btn btn-info">List Users</a>
        </li>
        <li class="list-inline-item">
            <a routerLink="/adduser" class="btn btn-info">Add User</a>
        </li>
    </ul>

</section>