@import "../../app.component";

.card {
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in 0s;
  color: $black;
  margin: 2rem;
  text-align: left;

  .card-title {
    font-family: $font-family-special;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow;
  }
}
